*fossil*
*.fslckout
*.db3
*.pyc
runwebserver.qa
conf.d/spwebenv_qa.conf
datafiles/
ws/
databases/*
databases/!README.txt
databases/!*.py
prod_*.tgz
wslog/*.txt
wslog/*.log
logtable.out
.idea
run_webserver.qa
.vscode/
cr.key
outputfiles/
sp_settings.env
__main__
logs/*
